@import "tailwindcss";
@plugin "daisyui" {
  themes: retro-v2 --default;
}
@source inline("bg-error/{{0..100..5}}");
@source inline("bg-success/{{0..100..5}}");
@source inline("bg-warning/{{0..100..5}}");
@source inline("bg-primary/{{0..100..5}}");

html {
   overscroll-behavior: none;
}

body, html, #root {
  width:100%;
  height:100%;
}

.glass-bg {
  background: rgba(0, 0, 0, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(8.6px);
}

.glass-bg-2 {
 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.fade-in {
  animation: fadeIn ease-in-out .15s;
}

.pb-safearea {
  padding-bottom: calc((var(--spacing) * 2) + env(safe-area-inset-bottom));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@font-face {
  font-family: "Ma Shan Zheng";
  src:url("/MaShanZheng-Regular.ttf")
}
.hanzi-serif {
  font-family: "Ma Shan Zheng";
}

.card-default {
  @apply bg-base-100 border-base-200 shadow-[0_.1rem_.5rem_-.3rem_#0003];
}



@plugin "daisyui/theme" {
  name: "retro-v2";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(84.133% 0.065 90.856);
  --color-base-content: oklch(41% 0.112 45.904);
  --color-primary: oklch(55% 0.163 48.998);
  --color-primary-content: oklch(96% 0.059 95.617);
  --color-secondary: oklch(94% 0.129 101.54);
  --color-secondary-content: oklch(42% 0.095 57.708);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.016 73.684);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/** CIRCULAR PROGRESS THEMING */
.CircularProgressbar-path {
  stroke: var(--color-primary) !important;
}
.CircularProgressbar-trail {
  stroke: var(--color-base-300) !important;
  box-shadow: 0px 0px 1px 1px black;
}
.CircularProgressbar-text {
  fill: var(--color-base-content) !important;
}
.CircularProgressbar-background {
  fill: green;
}



/** CUSTOM CSS CLASSES **/

.word-box { 
  @apply border bg-base-100 rounded-xl p-4 border-base-300 shadow-[0_.1rem_.5rem_-.3rem_#0003];
}
